/* 服务上部图片 */
#w_banner {
  height: 280px;
}
#w_banner div {
  background-image: url(../images/1491475060401.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#w_pageTarget {
  border-bottom: 1px solid #232323;
}
#w_pageTarget .navbox {
  max-width: 1170px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 57px;
  margin: 0 auto;
} 
#w_pageTarget .container_target {
  visibility: visible;
  animation-name: fadeInUp;
  padding: 20px 0;
  float: right;
}
.container_target a {
  color: #9e9e9e;
  position: relative;
}
.container_target i {
  font-size: 12px;
  margin: 0 10px;
}
.container_target a:last-child {
  color: #ffffff;
}
.container_target a:last-child:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 1px;
  background-color: #3b3b3b;
}
/* 页码 */
#pages {
  width: 1170px;
  margin: 0 auto;
  height: 24px;
  padding: 20px 0;
}
#pages a.active {
  color: #ffffff;
}
#pages a {
  width: 26px;
  height: 26px;
  display: block;
  line-height: 24px;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  float: left;
  margin-right: 5px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #fff;
}
#pages a:hover::after {
  width: 10px;
  color: #fff;
}
#pages a::after {
  display: block;
  content: "";
  background-color: #d4d4d4;
  width: 0px;
  height: 1px;
  margin: 2px auto;
}
/* 服务 */
#w_indexpage {
  margin-top: 55px;
}
#w_indexpage .w_mlist_1 {
  position: relative;
}
.w_mlist_1 .module_container {
  width: 100%;
  padding-bottom: 80px;
  border-bottom: 1px solid #232323;
}
.w_mlist_1 .container_header {
  text-align: center;
  padding: 80px 0 30px 0;
  position: relative;
  color: #7f7f7f;
}
.w_mlist_1 .container_header::before {
  background-color: #282828;
  display: block;
  height: 1px;
  margin: 0 auto 12px;
  width: 60px;
  content: '';
}
.w_mlist_1 .container_header .title {
  font-size: 20px;
  color: #ffffff;
}
.subtitle_1 {
  margin-top: 15px;
  font-size: 12px;
}
.subtitle_2 {
  margin: 15px 0 5px 0;
  font-size: 12px;
  color: #7f7f7f;
}
.w_mlist_1 .container_content {
  width: 100%;
}
.w_mlist_1 .container_content .w_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1174.4px;
  margin: 0 auto;
}
.w_mlist_1 .container_content .item_block {
  width: 24%;
  margin-right: 1%;
  margin-bottom: 1%;
  transition: all .3s linear;
  border: 1px solid #282828;
  background-color: #232323;
  box-sizing: border-box;
}
.w_mlist_1 .container_content .item_block:hover {
  background-color: #3b3b3b;
  border-color: #3b3b3b;
}
.w_mlist_1 .container_content .item_block .item_wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.container_content .item_block .item_wrapper .item_img {
  margin: 0 auto;
}
.container_content .item_block .item_wrapper .item_info {
  margin-top: 5px;
  height: 75px;
}
.container_content .item_block .item_wrapper .item_info .nums {
  color: #ffffff;
  font-size: 20px;
  font-family: HELVETICANEUELTPRO-THEX,Arial;
}
.container_content .item_block .item_wrapper .item_info .w_title {
  font-size: 15px;
  color: #9e9e9e;
  margin-top: 10px;
}
.container_content .item_block .item_wrapper .item_info .w_subtitle {
  font-size: 12px;
  margin-top: 3px;
}
/* 右侧固定栏 */
#shares {
  position: fixed;
  right: 7px;
  bottom: 63px;
  z-index: 999;
  height: 124px;
}
#shares a {
  width: 40px;
  height: 40px;
  border: 1px solid #282828;
  display: block;
  font-size: 16px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-out 0s;
  background-color: #1c1c1c;
}
#online_open:hover, #shares a:hover {
  background-color: #3b3b3b;
  border-color: #3b3b3b;
}
#shares a img {
  width: 24px;
  height: 24px;
  margin-top: 12px;
  transition: all 0.3s ease-out 0s;
}
#shares a#sweixin {
  top: -1px;
}
#shares a img.mobile {
  width: 24px;
  height: 26px;
  margin-top: 8px;
}
#shares a#gotop {
  margin-top: -2px;
  font-size: 22px;
}
#shares a img.angle {
  width: 20px;
  margin-top: 6px;
}
/* 微信 */
#online_open {
  width: 40px;
  height: 40px;
  border: 1px solid #282828;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 186px;
  z-index: 990;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-right: -3px;
  background-color: #1c1c1c;
}
#online_open img {
  width: 24px;
  height: 24px;
  margin-top: 12px;
  transition: all 0.3s ease-out 0s;
}
/* 手机二维码  */
#fixed_weixin {
  width: 180px;
  height: 220px;
  padding: 20px 20px 0 20px;
  background: #ffffff;
  position: absolute;
  left: 90%;
  top: 84%;
  margin-left: -110px;
  margin-top: -140px;
  display: none;
}
#fixed_weixin img {
  width: 180px;
  height: 180px;
}
#fixed_weixin p {
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #000;
}
/* 微信上部弹出框 */
#online_lx {
  width: 180px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 5px 9px rgba(4,0,0,.17);
  position: fixed;
  right: 7px;
  bottom: 188px;
  z-index: 99999;
  margin-right: -10px;
  display: none;
}
#olx_head {
  padding: 20px;
  line-height: 16px;
  height: 16px;
  background: #444;
  color: #ffffff;
  font-size: 14px;
}
#olx_head i {
  display:block;
  float: right;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
#olx_head i:hover {
  color: #ffffff;
  transform: rotate(90deg);
}
#olx_qq li a {
  padding: 12px 30px;
  height: 18px;
  line-height: 18px;
  background: #e5e5e5;
  color: #353434;
  display: block;
  border-bottom: #ffffff 1px solid;
  transition: all ease-out .3s;
  font-size: 12px;
}
#olx_qq li a:hover {
  color: #ffffff;
  background: #999;
}
#olx_qq li a:hover i {
  color: #ffffff;
}
#olx_qq li a i {
  color: #5e5e5e;
  font-size: 22px;
  vertical-align: middle;
  margin-right: 18px;
  transition: all ease-out .3s;
}
#olx_tel {
  padding: 20px 30px;
}
#olx_tel div {
  color: #434343;
  line-height: 14px;
  height: 14px;
  margin-bottom: 10px;
}
#olx_tel div i {
  font-size: 18px;
  margin-right: 20px;
  vertical-align: middle;
}
#olx_tel p {
  line-height: 18px;
  font-family: HELVETICANEUELTPRO-THEX;
  font-size: 16px;
}
